*/__pycache__/
__pycache__/
wandb/
measure_logs/
save_masks/
datasets/DUT_OMRON/gt
datasets/DUT_OMRON/img
datasets/DUTS_Test/gt
datasets/DUTS_Test/img
datasets/ECSSD/gt
datasets/ECSSD/img
datasets/VOC2007/VOCdevkit
datasets/VOC2012/VOCdevkit
datasets/COCO/*.zip
datasets/COCO/annotations
datasets/COCO/images
TokenCut/datasets
TokenCut/outputs
*.tar
