easydict==1.11
imageio==2.31.1
importlib-metadata==6.8.0
matplotlib==3.7.2
numpy==1.25.0
opencv-python==4.8.0.74
pillow==9.4.0
pip==24.0
protobuf==4.24.0
psutil==5.9.5
pycocotools==2.0.7
pyopenssl==23.2.0
python-dateutil==2.8.2
pyyaml==6.0.1
requests==2.32.3
requests-oauthlib==1.3.1
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.10.1
setuptools==68.0.0
six==1.16.0
tensorboard==2.14.0
tensorboard-data-server==0.7.1
tensorboardx==2.6.2.2
timm==0.3.2
torch==1.13.0
torchaudio==0.13.0
torchvision==0.14.0
tqdm==4.66.1
urllib3==1.26.16
wandb==0.15.8
